<meta charset="{{charset}}">

<title>{{blogname}} {% if page.seo_meta.use == 'yes' %}{{page.seo_meta.title}}{% else %}{{wp_title}}{% endif %}</title>

<link href="//www.google-analytics.com" rel="dns-prefetch">

<link href="{{theme.link}}/img/icons/favicon.ico" rel="shortcut icon">
<link href="{{theme.link}}/img/icons/touch.png" rel="apple-touch-icon-precomposed">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{blogdes}}">